INSERT INTO {{ table }} (
    {% for column in columns %}
        {{ column }}{% if not loop.last %},{% endif %}
    {% endfor %}
)
VALUES (
    {% for parameter in parameters %}
        :{{ parameter }}{% if not loop.last %},{% endif %}
    {% endfor %}
);
